<!DOCTYPE html>
<html>
<head>
    <title>Search Results</title>
</head>
<body>
    <h1>Search Results</h1>
    <form action="/search" method="get">
        <label for="query">Enter your search query:</label>
        <input type="text" id="query" name="query">
        <input type="submit" value="Search">
    </form>
    <hr>
    {% if results %}
        <ul>
        {% for hit in results %}
            <li>
                <h3>{{ hit._source.iD }}</h3>
                <p>{{ hit._source.text }}</p>
                <p>Created: {{ hit._source.created_date }}</p>
                <p>Rubrics: {{ hit._source.rubrics }}</p>
                <a href="/delete/{{ hit._id }}">Delete</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results found</p>
    {% endif %}
</body>
</html>